{#
Written by 17075800
#}
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="container1" style="position:relative">
        <img class="home-image" src="https://rialtoliving.com/img/photos/fashion-01.jpg" alt="fashion" style="width:100%; height: 100%;">
        <div class="home-text" style="font: inherit; font-size: 3.5vw; color: #ffffff; position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Welcome to E-Clothier,</div>
        <div class="home-text" style="font: inherit; font-size: 4vw; color: #ffffff; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">{{ current_user.name }}</div>
    </div>
{% endblock %}
