{#
Written by 17075800
#}

{# Inherit a parent template called base.html #}
{% extends "base.html" %}

{# Add the title for this page #}
{% block title %}Home{% endblock %}

{# Add the content for this page #}
{% block content %}
    <div class="container1" style="position:relative">
        <img class="home-image" src="https://rialtoliving.com/img/photos/fashion-01.jpg" alt="fashion" style="height: 100%;">
        <div class="home-text-1">Welcome to E-Clothier,</div>
        <div class="home-text-2">{{ current_user.name }}</div>
    </div>
{% endblock %}
