{#
Based on https://github.com/CoreyMSchafer/code_snippets/tree/master/Python/Flask_Blog
Adapted by 17075800
#}

{% extends "base.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="/static/imgs/default.jpg" style="height: 75px; width: 75px; margin-right: 25px;">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ item.author.name }}</a>
        <small class="text-muted">{{ item.date_created.strftime('%Y-%m-%d') }}</small>
          <h2 class="article-title">{{ item.title }}</h2>
            <p class="article-content"><b>Description:</b>  {{ item.content }}</p>
            <p class="article-content"><b>Color:</b> {{ item.color }}  <b>Size:</b>  {{ item.size }}   <b>Price:</b>  £{{ item.price }}</p>
        {% if item.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('main.update_item', item_id=item.id) }}">Update</a>
            <a class="btn btn-danger btn-sm m-1" href="{{ url_for('main.delete_item', item_id=item.id) }}">Delete</a>
          </div>
        {% endif %}
      </div>

    </div>
  </article>

{% endblock content %}
